body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
}

.navbar {
  background: #1c2541;
  padding: 16px;
}

#city-form {
  width: 40vw;
  margin: 0 auto;
  display: flex;
}

#city-form input {
  flex: 1;
  font-size: 16px;
  padding: 8px 12px 6px;
}

#city-form button {
  width: 150px;
  font-size: 16px;
  opacity: 1;
}

#weather-info {
  width: 50vw;
  height: 50vh;
  margin: 100px auto 0;
  background: #fff;
  opacity: 0.85;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#weather-info p {
  font-size: 20px;
}

#weather-info p span {
  font-weight: bold;
  color: #1c2541;
}

#weather-info button {
  padding: 8px;
  font-size: 16px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description span {
  font-size: 22px;
}

.description img {
  width: 64px;
  height: 64px;
}
